/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
  @font-face {
    font-family: "Inter-Bold";
    src: url("../public/fonts/static/Inter-Bold.ttf");
  };
  @font-face {
    font-family: "Inter-ExtraBold";
    src: url("../public/fonts/static/Inter-ExtraBold.ttf");
  };  */
  @font-face {
    font-family: "Inter";
    src: url("../public/fonts/static/Inter-Regular.ttf");
  } 